/* CSS RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

ul {
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

a,
button {
	cursor: pointer;
}

/* TYPOGRAPHY */

body {
	font-family: "Space Grotesk";
}
h1,
h2,
h3,
h4 {
	font-weight: 500;
}
h1 {
	font-size: 3.75rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 1.875rem;
}
h4 {
	font-size: 1.25rem;
}
p {
	font-size: 1.125rem;
	font-weight: 400;
}

@media screen and (width <600px) {
	h1 {
		font-size: 43px;
	}
	h2 {
		font-size: 2.25rem;
	}
	h3 {
		font-size: 1.625rem;
	}
	h4 {
		font-size: 1.125rem;
	}
	p {
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5rem;
	}
}

/* COLORS */

:root {
	--col-green: #b9ff66;
	--col-dark: #191a23;
	--col-light: #f3f3f3;
	--col-black: #000;
	--col-white: #fff;
}

/* COMPONENTS */

/* HEADINGS */
.heading-black,
.heading-green.heading-white {
	padding: 0 7px;
	border-radius: 7px;
}

.heading-green {
	color: var(--col-black);
	background-color: var(--col-green);
}

.heading-white {
	color: var(--col-black);
	background-color: var(--col-white);
}
.heading-black {
	color: var(--col-white);
	background-color: var(--col-dark);
}

/* BUTTONS */
/* TODO check real components */

.btn-primary,
.btn-secondary,
.btn-ternary {
	padding: 35px 1.25rem;
	border-radius: 14px;
}

.btn-primary {
	color: var(--col-white);
	background-color: var(--col-dark);
}

.btn-secondary {
	color: var(--col-black);
	background-color: transparent;
	border: 1px solid var(--col-dark);
}

.btn-tertiary {
	color: var(--col-black);
	background-color: var(--col-green);
}

/* LINKS */
.link-icon {
	transform: rotate(30deg);
}

.link-fill-icon {
	--size: 41px;
	width: var(--size);
	height: var(--size);
	border-radius: 100%;
	padding: 0.75rem 1rem;
	background-color: currentColor;
}

.link {
	display: flex;
	gap: 1rem;
}

.link-fill-white,
.link-fill-white2 {
	color: var(--col-white);
}
.link-fill-white > .link-fill-icon {
	color: var(--col-green);
}
.link-fill-white2 > .link-fill-icon {
	color: var(--col-black);
}

.link-fill-black,
.link-fill-black2 {
	color: var(--col-black);
}
:is(.link-fill-black, .link-fill-black2) > .link-fill-icon {
	background-color: var(--col-dark);
}
.link-fill-black > .link-fill-icon {
	color: var(--col-green);
}
.link-fill-black2 > .link-fill-icon {
	color: var(--col-white);
}

.link-fill-green {
	color: var(--col-black);
}
.link-fill-green2 {
	color: var(--col-white);
}

:is(.link-fill-green, .link-fill-green2) > .link-fill-icon {
	background-color: var(--col-green);
	color: currentColor;
}

.link-green {
	color: var(--col-green);
}

.link-white {
	color: var(--col-white);
}
.link-black {
	color: var(--col-black);
}

/* PLUS ICON */

.plus-icon {
	--size: 3.625rem;
	width: var(--size);
	height: var(--size);
	padding: 1rem;
	border-radius: 100%;
	border: 1px solid var(--col-dark);
	color: var(--col-dark);
	background-color: var(--col-light);
}

/* LOGO */
.logo {
	display: flex;
	gap: 13px;
}

.logo-white {
	color: var(--col-white);
}

.logo-black {
	color: var(--col-black);
}
