/* CSS RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

ul {
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

a,
button {
	cursor: pointer;
}

/* TYPOGRAPHY */

body {
	font-family: "Space Grotesk";
}
h1,
h2,
h3,
h4 {
	font-weight: 500;
}
h1 {
	font-size: 3.75rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 1.875rem;
}
h4 {
	font-size: 1.25rem;
}
p {
	font-size: 1.125rem;
	font-weight: 400;
}

@media screen and (width <600px) {
	h1 {
		font-size: 43px;
	}
	h2 {
		font-size: 2.25rem;
	}
	h3 {
		font-size: 1.625rem;
	}
	h4 {
		font-size: 1.125rem;
	}
	p {
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5rem;
	}
}

/* COLORS */

:root {
	--col-green: #b9ff66;
	--col-black: #191a23;
	--col-white: #f3f3f3;
}

/* COMPONENTS */

/* HEADINGS */
.heading-black,
.heading-green.heading-white {
	padding: 0 7px;
	border-radius: 7px;
}

.heading-green {
	color: black;
	background-color: var(--col-green);
}

.heading-white {
	color: black;
	background-color: white;
}
.heading-black {
	color: white;
	background-color: var(--col-black);
}
